[user]
	name = cesine
	email = cesine@yahoo.com
	username = \"cesine\"
[alias]
	co = checkout
	st = status
        hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	all = fetch --all
[color]
	ui = true
[rerere]
	enabled = 1
[gitreview]
	username = cesine
[branch]
	autosetuprebase = never
[gc]
	autoDetach = false
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
